<footer class="mastfoot mt-auto">
  <div class="footer-copyright text-center text-muted ">
    <h6>© 2019 Copyright MommaCafe •
    <a href="#"> Privacy</a>
    •
    <a href="#"> Terms</a>
  </h6>
  </div>
</footer>
  </body>
</html>