<% include ./partials/header %>

<div class="">
    <h1>Add a New Cafe</h1>
    <div class="container">
        <form class="form-inline" action= "/cafes" method = "POST">
          <input class="form-control mr-sm-2" type= "text" name= "name" placeholder= "name">
          <input class="form-control mr-sm-2" type= "text" name= "image" placeholder= "image">
          <button class="btn btn-outline-primary btn-lg">Submit</button>
        </form>
    </div>
</div>

  <a href="/cafes">Go Back</a>
  
<% include ./partials/footer %>